/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-logo-grid {
	border: 1px dotted #f00;
}

.wp-block-create-block-logo-grid img {
  width: 300px;
  max-height: 100px;
  object-fit: cover;
}
