/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-logo-grid {
	color: #fff;
	padding: 2px;
}

.logo-grid-container {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  justify-items: center;
  gap: 20px;
  margin-top: 200px;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--xl {
	width: 500px;
  }

  &--lg {
	width: 400px;
  }

  &--md {
	width: 300px;
  }

  &--sm {
	width: 200px;
  }
}

.logo {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.upload-btn {
  color: black;
  background-color: white;
  border: #0a4b78 1px solid;
}


